body {
    background-color: chartreuse;
}

.navbar {
    background-color: red;
}

#carouselExample {
    width: 70%;
    margin: 0 auto;
    
}

.carousel-item img {
    height: 500px;
}

i {
    font-size: 40px;
    
}

.bi-linkedin {
    color: red;
}

.bi-instagram {
    color: aqua;
}

.bi-tiktok {
    color: blueviolet;
}

